PORT=3000
DATABASE_URL=postgres://user:password@your_host_db:5432/your_db_name
PGSSL=false
METABASE_SITE_URL=https://your.metabase-dashboard-site.tld
METABASE_SECRET_KEY=xxxxxxxxxxx
METABASE_DASHBOARD_ID=xxxx

SMTP2GO_API_KEY=api-xxxxxx
